.header {
    left: 0;
    right: 0;
    top: 40px;
    position: fixed;
    z-index: 2000;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s linear;
    &.active {
        top: 0;
        background-color: #fff;
        padding: 45px 40px 10px 50px;
        .burger {
            background-color: #fff;
            border: 1px solid #324497;
            span {
                background-color: #000;
            }
        }
    }
}

.phone {
    display: block;
    z-index: 200;
    width: 65px;
    height: 65px;
    z-index: 1000;
    padding: 8px;
    margin-left: auto;
    margin-right: 70px;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}


.logo {
    width: 140px;
    &.color-blue {
        svg {
            fill: #218ECE;
        }
    }
    svg {
        width: 100%;
        height: 74px;
        fill: #fff;
        transition: all 0.3s ease-in-out;
    }
}