.insta {
    padding-top: 150px;
    padding-bottom: 30px;

    @media(max-width:767px) {
        padding-top: 80px;
    }
}

.insta__inner {
    padding: 10px;
    border: 1px solid #324497;
}

.insta__info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 10px;
}

.insta__text {
    margin-right: 20px;
    color: #000;
}

.insta__name {
    @include adaptive("font-size", 16, 14);
    font-weight: 550;
    line-height: 1.2em;
    letter-spacing: 0em;
    color: #454091;

    &:hover {
        color: #454091;
    }
}

.insta__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 25px;
    max-height: 70vh;
    padding-right: 10px;

    overflow: hidden;
    overflow-y: scroll;
    @include list-scroll;

    @media(max-width:1600px) {
        max-height: 70vh;
    }

    @media(max-width:1440px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }

    @media(max-width:1023px) {
        grid-template-columns: repeat(2, 1fr);
        padding-right: 0;
        max-height: 72vh;
    }

    @media(max-width:767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.insta__item {
    display: block;
    overflow: hidden;

    position: relative;


    &:after {
        content: '';
        display: block;
        padding-top: 100%;
    }

}

.insta__link {
    display: block;
    transition: all 1s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    @media(min-width:1024px) {
        &:hover {
            transform: scale(1.1);
        }
    }
}