.insta {
    padding-top: 150px;
    padding-bottom: 30px;

    @media(max-width:767px) {
        padding-top: 80px;
    }
    &.swiper-slide-active { 
        
        .insta__item {
            img {
                animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
            }
        }
        .insta__info {
            animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }
}


@keyframes slide-in-blurred-bottom {
    0% {
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




.insta__inner {
    padding: 10px;
    border: 1px solid #324497;

}

.insta__info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 10px;
}

.insta__text {
    margin-right: 20px;
    color: #000;
}

.insta__name {
    @include adaptive("font-size", 16, 14);
    font-weight: 550;
    line-height: 1.2em;
    letter-spacing: 0em;
    color: #454091;

    &:hover {
        color: #454091;
    }
}

.insta__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 25px;
    max-height: 70vh;
    padding-right: 10px;

    overflow: hidden;
    overflow-y: scroll;
    @include list-scroll;

    @media(max-width:1600px) {
        max-height: 70vh;
    }

    @media(max-width:1440px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }

    @media(max-width:1023px) {
        grid-template-columns: repeat(2, 1fr);
        padding-right: 0;
        max-height: 72vh;
    }

    @media(max-width:767px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.insta__item {
    display: block;
    overflow: hidden;

    position: relative;


    &:after {
        content: '';
        display: block;
        padding-top: 100%;
    }

}

.insta__link {
    display: block;
    transition: all 1s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    @media(min-width:1024px) {
        &:hover {
            transform: scale(1.1);
        }
    }
}