.load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: #fff;
    transition: .2s linear;
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &.show {
        transition: unset;
        opacity: 1;
        visibility: visible;
    }
}

.load__svg {
    width: 80vw;
    height: 90vh;

    &.animated {

        .path {
            transition: clip-path 2s linear;
        }

        .cls-1 {
            fill: none;
        }

        .cls-2 {
            fill: #1163a6;
            transition: fill 2s linear;
            transition-delay: 6s;
        }

        .cls-3 {
            fill: #edc19c;
            clip-path: circle(275px at 180% 50%);
            transition-delay: 6s;
        }

        .cls-4 {
            fill: #218ece;
            clip-path: circle(218px at 180% 50%);
            transition-delay: 6s;
        }

        .cls-5 {
            fill: #eec29b;
            clip-path: circle(218px at 180% 50%);
            transition-delay: 6s;
        }

        .cls-6 {
            fill: #cca283;
            transition: fill 2s linear;
            transition-delay: 6s;
        }

        .cls-7 {
            fill: #fddec8;
            transition: fill 2s linear;
            transition-delay: 6s;
        }
    }
}


.cls-1 {
    fill: none;
}

.cls-2 {
    fill: transparent;
    stroke: #1163a6;
    stroke-width: 1px;
}

.cls-3 {
    clip-path: circle(0 at 180% 50%);

    fill: transparent;
    stroke: #edc19c;
    stroke-width: 1px;
}

.cls-4 {
    clip-path: circle(0 at 180% 50%);

    fill: transparent;
    stroke-width: 1px;
}

.cls-5 {
    clip-path: circle(0 at 180% 50%);

    fill: transparent;
    stroke: #eec29b;
    stroke-width: 1px;
}

.cls-6 {
    fill: transparent;
    // fill: #cca283;
    stroke: #cca283;
    stroke-width: 1px;
}

.cls-7 {
    fill: transparent;
    // fill: #fddec8;
    stroke: #fddec8;
    stroke-width: 1px;

}