.load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

.load__svg {
    width: 80vw;
    height: 90vh;

    &.animated {

        .path,
        .path2 {
            transition: fill 2s linear;
            transition-delay: 7s;
        }


        .cls-1 {
            fill: none;
        }

        .cls-2 {
            fill: #1163a6;
        }

        .cls-3 {
            fill: #edc19c;
        }

        .cls-4 {
            fill: #218ece;
        }

        .cls-5 {
            fill: #eec29b;
        }

        .cls-6 {
            fill: #cca283;
        }

        .cls-7 {
            fill: #fddec8;
        }
    }
}


.cls-1 {
    fill: none;
}

.cls-2 {
    
    fill: transparent;
    stroke: #1163a6;
    stroke-width: 1px;
}

.cls-3 {
    
    fill: transparent;

    stroke: #edc19c;
    stroke-width: 1px;
}

.cls-4 {
    
    fill: transparent;

    stroke: #218ece;
    stroke-width: 1px;
}

.cls-5 {
    
    fill: transparent;
    // fill: #eec29b;
    stroke: #eec29b;
    stroke-width: 1px;
}

.cls-6 {
    
    fill: transparent;
    // fill: #cca283;
    stroke: #cca283;
    stroke-width: 1px;
}

.cls-7 {
    
    fill: transparent;
    // fill: #fddec8;
    stroke: #fddec8;
    stroke-width: 1px;

}