.main-page {
    .page-link {
        display: none;
    }

    .header.active {
        .logo svg {
            fill: #218ECE;
        }
    }

    .main-slider__wrapper {
        display: block;
    }


    .main-slide {
        &.about {
            padding-bottom: 40px;

            .about__wrapper {
                height: auto;
            }

            .about__right {
                height: auto;
            }
        }

        &.insta {
            padding-bottom: 40px;

            .insta__list {
                max-height: unset;
            }
        }
    }

    &.active {
        .main-slider__wrapper {
            width: 100vw;
            height: 100vh;

            .swiper-slide {
                opacity: 0 !important;
            }

            .swiper-slide-active {
                opacity: 1 !important;
            }
        }

        .main-slide {
            z-index: 3;

            &.about {
                overflow: hidden;
                overflow-y: scroll;
                padding-bottom: 40px;

                .about__wrapper {
                    height: auto;
                }

                .about__right {
                    height: auto;
                }
            }

            &.insta {
                overflow: hidden;
                overflow-y: scroll;
                padding-bottom: 40px;

                .insta__list {
                    max-height: unset;
                }
            }
        }

        .special-menu {
            &.swiper-slide-active {
                .special-menu__item {

                    transform: translate3d(0, 0, 0) rotate(0deg) skew(0deg, 0deg);

                    &:nth-child(1) {
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(2) {
                        top: 0;
                        right: 0;
                    }

                    &:nth-child(3) {
                        bottom: 0;
                        left: 0;
                    }

                    &:nth-child(4) {
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }

        .special-menu__item {
            transform: translate3d(0, 0, 0) rotate(20deg) skew(30deg, 30deg);
            transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

            &:nth-child(1) {
                top: -37%;
                left: -50%;

                @media(max-width:1023px) {
                    left: -100%;
                }

                &::before {
                    bottom: -25vh;
                    right: -25vw;
                }
            }

            &:nth-child(2) {
                top: -63%;
                right: -50%;

                @media(max-width:1023px) {
                    right: -100%;
                }

                &::before {
                    bottom: -25vh;
                    left: -25vw;
                }
            }

            &:nth-child(3) {
                bottom: -63%;
                left: -50%;

                @media(max-width:1023px) {
                    left: -100%;
                }

                &::before {
                    top: -25vh;
                    right: -25vw;
                }
            }

            &:nth-child(4) {
                bottom: -37%;
                right: -50%;

                @media(max-width:1023px) {
                    right: -100%;
                }

                &::before {
                    top: -25vh;
                    left: -25vw;
                }
            }

        }

        .page-link {
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: .3s linear;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        .page-link__top {
            width: auto;
            right: 0;
            left: 35px;
        }

        .page-link__bottom {
            width: auto;
            right: 35px;
        }

        .menu {
            transition: .2s linear;
        }

        .header.active {
            @media (min-width: 920px) {
                padding-right: 75px;
            }

            .menu {
                right: 75px;
            }
        }
    }
}