.menu {
    position: fixed;
    top: 47px;
    right: 47px;
    z-index: 200;
    width: 65px;
    height: 65px;
}

.burger {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 350;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    transition: background 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000),
    border 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000),
    transform 300ms cubic-bezier(0.185, 0.550, 0.380, 1.440);
    left: 10px;
    top: 10px;
    &:hover {
        background-color: #fff;
        border: 1px solid rgb(0, 0, 0);
        span {
            background-color: #000;
        }
    }
    span {
        position: absolute;
        background-color: #fff;
        height: 1px;
        width: 15px;
        display: block;
        border-radius: 5px;
        &:nth-child(1) {
            top: 16px;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3) {
            bottom: 16px;
        }
    }
    &.active {
        span {
            &:nth-child(1) {
                top: 6px;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                bottom: 7px;
                transform: rotate(-45deg);
            }
        }
    }
}