.special-menu {
    width: 100vw;
    height: 100vh;
    position: relative;

    &.active {
        .special-menu__item {

            transform: translate3d(0, 0, 0) rotate(0deg) skew(0deg,0deg);

            &:nth-child(1) {
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                top: 0;
                right: 0;
            }

            &:nth-child(3) {
                bottom: 0;
                left: 0;
            }

            &:nth-child(4) {
                bottom: 0;
                right: 0;
            }
        }
    }
}

.special-menu__item {
    position: absolute;
    z-index: 1;

    border: 1px #f0e3dc solid;
    background-color: #fff;
    position: fixed;
    overflow: hidden;

    transform: translate3d(0, 0, 0) rotate(20deg) skew(30deg, 30deg);
    transition: all 2000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    
    &:nth-child(1) {
        width: 50%;
        height: 37%;

        top: -37%;
        left: -50%;
    }

    &:nth-child(2) {
        width: 50%;
        height: 63%;

        top: -63%;
        right: -50%;
    }

    &:nth-child(3) {
        width: 50%;
        height: 63%;

        bottom: -63%;
        left: -50%;
    }

    &:nth-child(4) {
        width: 50%;
        height: 37%;

        bottom: -37%;
        right: -50%;
    }
}