<div class="container">
  <div class="footer__inner">
    <div class="footer__content">
      <a class="footer__link" href="#">Краниосакральная Биодинамика</a>
      <a class="footer__link" href="#">Анкета</a>
      <a class="footer__link" href="#">Другие направления</a>
      <a class="footer__link" href="#">Актуальные видео</a>
      <a class="footer__link" href="#">Дипломы</a>
      <a class="footer__link" href="#">Инстаграм</a>
      <a class="footer__link" href="#">Обо мне</a>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">Copyright@2022</p>
      <a class="footer__policy-link" href="#">Политика обработки персональных даных</a>
      <div class="footer__another">
        <p class="footer__text">ИП</p>
        <p class="footer__text">ИНН</p>
      </div>
    </div>
  </div>
</div>