<header class="header @header">
    <a href="index.html" class="logo @logo">
        <svg class="svg">
            <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
    </a>
    <a href="#" class="phone">
        <img loading="lazy" src="img/whatsapp.svg" alt="img">
    </a>
    <div class="menu">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="index.html" class="nav__link link-page">Home</a></li>
                <li class="nav__item"><a href="page-tab.html" class="nav__link link-page">Work</a></li>
                <li class="nav__item"><a href="page-about.html" class="nav__link link-page">Team</a></li>
                <li class="nav__item"><a href="reviews-page.html" class="nav__link link-page">Faq</a></li>
                <li class="nav__item"><a href="#" class="nav__link link-page">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link-page">Press</a></li>
                <li class="nav__item">
                    <div class="nav__bottom">
                        <a class="nav__bottom--link" href="#">DONATE</a>
                        <a class="nav__bottom--link" href="#">STORE</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>