<header class="header">
    <a href="#" class="phone">
        <img loading="lazy" src="img/whatsapp.svg" alt="img">
    </a>
    <div class="menu">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Work</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Team</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Faq</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Press</a></li>
                <li class="nav__item">
                    <div class="nav__bottom">
                        <a class="nav__bottom--link" href="#">DONATE</a>
                        <a class="nav__bottom--link" href="#">STORE</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>