* {
    font-family: "SuisseIntl", sans-serif;
}

html {
    background-color: #fff;
}

body {
    display: none;
    &.scroll-hide {
        overflow: hidden;
    }
    /* &.color-chenge {
        background-color: #F0E2C9;
        color: #130f4bd0;
        .page {
            background-color: #F0E2C9;
        }
        .page-link {
            background-color: #F0E2C9;
        }
        .header {
            background-color: #F0E2C9;
        }
        .tabs-sec .tabs-content {
            color: #130f4bd0;
        }
        .tabs-sec .tab {
            color: #130f4bd0;
        }
        .form-item__left {
            color: #130f4bd0;
        }
        .tabs-sec .tab::before {
            background-color: #b8b6cc33;
        }
        .tabs-sec .tab {
            color: #fff;
        }
        .tabs-sec .tabs-content {
            color: #fff;
        }
    } */
}

.title {
    @include adaptive("font-size", 28, 24);
    font-weight: 550;
    line-height: 1.2em;
    letter-spacing: 0em;
    color: #454091;
}

.padding-top {
    padding-top: 140px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
    @media(max-width:767px) {
        padding: 0 15px;
    }
}

.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    &.hide {
        max-height: 100vh;
    }
    
}



.page-link {
    position: fixed;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0em;
    color: #454091;
    z-index: 20000;
    width: 100%;
    display: block;
    border: 1px #dcdcf0 solid;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
        letter-spacing: 1px;
        text-shadow: .5px 0 0 currentColor;
        color: #454091;
    }
    span {
        white-space: nowrap;
        display: block;
    }
}

.page-link__top {
    top: 0;
    height: 35px;
    width: calc(100% - 35px);
    right: 0;
    span {
        margin: 5px 0 0 20px;
    }
}

.page-link__right {
    bottom: 0;
    right: 0;
    width: 35px;
    height: calc(100% - 35px);
    span {
        transform-origin: left center;
        transform: rotate(90deg) scale(0.9) translate3d(0, 0, 0);
        margin: 20px 0 0 17px;
    }
}

.page-link__bottom {
    width: calc(100% - 35px);
    height: 35px;
    left: 0;
    bottom: 0;
    span {
        margin: 6px 0 0 55px;
    }
}

.page-link__left {
    top: 0;
    left: 0;
    width: 35px;
    height: calc(100% - 35px);
    span {
        transform-origin: left center;
        transform: rotate(90deg) scale(0.9) translate3d(0, 0, 0);
        margin: 55px 0 0 17px;
    }
}


.sec-anim {
    transform: translate3d(200px, 100vh, 0);
    border-radius: 100vw 50vw 0 0;
    overflow: hidden;
    position: fixed;
    transition: all 3000ms cubic-bezier(0.190, 1.000, 0.220, 1.000),
    color 100ms linear;
    background-color: #fff;
    z-index: 22;
    &.anim-hide {
        transform: translate3d(200px, 100vh, 0);
        border-radius: 100vw 50vw 0 0;
        bottom: 0;
        right: 0;
    }
    &.active {
            transform: translate3d(0, 0, 0);
            border-radius: 0 0 0 0;
            top: 0;
            left: 0;
    }
    
}