* {
    font-family: "SuisseIntl", sans-serif;
}

html {
    background-color: #fff;
}

body {
    display: none;
    &.scroll-hide {
        overflow: hidden;
    }
}

.title {
    @include adaptive("font-size", 28, 24);
    font-weight: 550;
    line-height: 1.2em;
    letter-spacing: 0em;
    color: #454091;
}

.padding-top {
    padding-top: 115px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;

    @media(max-width:767px) {
        padding: 0 15px;
    }
}

.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    &.hide {
        max-height: 100vh;
    }
}